body{
    background-color: gainsboro;
}
button.todobutton{
    font-family: "Courier New";
    color: black;
    background-color: #fac8c8;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    border-color: black;
    grid-area: a;

}
button.dailybutton{
    font-family: "Courier New";
    color: black;
    background-color: #fac8c8;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    border-color: black;
    grid-area: b;
}
button.weeklybutton{
    font-family: "Courier New";
    color: black;
    background-color: #fac8c8;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    border-color: black;
    grid-area: c;
}
button.monthlybutton{
    font-family: "Courier New";
    color: black;
    background-color: #fac8c8;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    border-color: black;
    grid-area: d;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
            "header header header header header header header header"
            "a a a a b b b b"
            "a a a a b b b b"
            "c c c c d d d d"
            "c c c c d d d d";
    align-items: start;
    gap: 10px;
}
[class^="icon-"], [class*=" icon-"] {
    height: 50%;
    width: 50%;
    display: inline-block;
    fill: currentColor;
    background-color: transparent;
}