body{
    background-color: gainsboro;
}
h1{
    font-family: "Courier New";
    color: #F08080;
    text-align: left;
    font-size: 50px;
}
#headerline{
    height: 2px;
    color: black;
    background-color: black;
}
button.logoutbutton{
    font-family: "Courier New";
    color: black;
    background-color: gainsboro;
    border: none;
    position: fixed;
    top: 60px;
    right: 5px;
    font-size: medium;
}
#headerbox{
    height: 60px;
    background-color: #fac8c8;
}
button.usernamebutton{
    font-family: "Courier New";
    color: black;
    background-color: gainsboro;
    border: none;
    position: fixed;
    top: 35px;
    right: 5px;
    font-size: medium;
}